//=====================================
//  TAGS
//=====================================



//=====================================
//  CLASSES
//=====================================

#about {
    .page-bg-title--about-1{
        background-image: url('../images/slide1.jpg');
    }
    .page-bg-title--about-2{
        background-image: url('../images/about2.png');
    }
    .proccess-box{
        display: flex;
        .proccess-box__col{
            flex: 1;
            .proccess-box__img {
                position: relative;
                height: 200px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                &.proccess-box__img--01{
                    background-image: url('../images/proccess1.jpg');
                    background-size: auto;
                }
                &.proccess-box__img--02{
                    background-image: url('../images/proccess2.jpg');
                }
                &.proccess-box__img--03{
                    background-image: url('../images/proccess3.jpg');
                }
                span {
                    position: absolute;
                    bottom: 32px;
                    left: 28px;
                    display: block;
                    width: 52px;
                    font-family: 'Exo 2';
                    font-size: 52px;
                    font-weight: bold;
                    line-height: 52px;
                    word-break: break-word;
                    text-align: center;
                    color: white;
                }
            }
            .proccess-box__text {
                position: relative;
                height: 200px;
                padding: 20px 30px;
                background-color: @blue;
                z-index: 1;
                h5 {
                    color: white;
                    margin-bottom: 15px;
                }
                p {
                    color: white;
                }
                &.proccess-box__text--bottom:after{
                    content: '';
                    position: absolute;
                    width: 0; 
                    height: 0;
                    top: -15px;
                    left: 40px;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid @blue;
                }
                &.proccess-box__text--top:after{
                    content: '';
                    position: absolute;
                    width: 0; 
                    height: 0;
                    bottom: -15px;
                    left: 40px;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid @blue;
                }
            }
        }
    }
}

#sliderAbout1 {
    .carousel-inner {
        .carousel-item {
            height: 380px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .carousel-caption {
                display: flex !important;
                align-items: center;
                justify-content: space-between;
                left: 0 !important;
                right: 0 !important;
                bottom: 0 !important;
                padding: 20px 65px;
                box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
                background-color: rgba(0,0,0,0.5);
                .carousel-caption__text {
                    flex: 4;
                    h2, h3 {
                        color: white;
                        text-align: left;
                    }
                    p{
                        font-size: 16px;
                        text-align: left;
                    }
                }
                .carousel-caption__cta{
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
}