#cart {
    .cart-table {
        margin-bottom: 35px;
    }
    .cart-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__img {
            height: 100px;
        }
        &__info {
            margin-left: 25px;
        }
    }
    .cart-step {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        input {
            margin-bottom: 0;
            margin-right: 5px;
        }
    }
    .cart-resume {
        p {
            margin-bottom: 0;
        }
        h5 {
            margin-top: 15px;
        }
    }
}