
//=====================================
//  IMPORTS
//=====================================
@import '../mixins/mixins.less';
@import '../mixins/lesshat.less';
@import '../mixins/variables.less';
@import '../mixins/font-face.less';

//=====================================
//  TAGS
//=====================================

* {
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    transition: all .2s linear;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: @blue;
}

legend {
    display: inline;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    max-width: unset;
    width: max-content;
    margin: 0 10px 0 0;
}

a,a:hover{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
    padding: 0;
}

header {
    .fab {
        font-size: 32px;
        margin: 0 10px;
    }
    .fas {
        font-size: 14px;
        margin-right: 10px;
    }
}

.webcup-iframe {
    width: 100%;
    height: 485px;
    margin-bottom: 35px;
    ::-webkit-scrollbar {
        display: none;
    }
}

.webcup-edit, .list-action-button {
    position: absolute;
    top: 0;
    right: 0;
}

.preview-files {
    img {
        height: 150px;
        object-fit: cover;
    }
}

section {
    .section-title{
        position: relative;
        padding-left: 15px;
        margin-bottom: 35px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 3px;
            left: 0;
            margin: 0 auto;
            width: 3px;
            background-color: @red;
        }
        &.section-title--h{
            margin-top: 15px;
            padding-left: 0;
            text-align: center;
            &:before{
                top: -15px;
                bottom: auto;
                right: 0;
                width: 50px;
                height: 3px;
            }
        }
    }
    .page-bg-title{
        position: relative;
        height: 535px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            position: absolute;
            display: inline-block;
            width: fit-content;
            max-height: 56px;
            padding: 10px 15px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-weight: bold;
            color: white;
            background-color: rgba(89, 89, 89, 0.7);
        }
    }
    .page-box-text {
        padding: 35px 0;
        p {
            font-size: 14px;
        }
        &.page-box-text--blue{
            background-color: @blue;
            color: white;
            .section-title {
                color: white;
            }
        }
        &.page-box-text--bigger{
            p, b, i { font-size: 18px; }
        }
        &.page-box-text--right {
            h3 {
                text-align: right;
                padding-right: 15px;
                &:before {
                    left: auto;
                    right: 0;
                }
            }
            h5 {
                text-align: right;
            }
            p {
                text-align: right;
            }
        }
        .row {
            display: flex;
            align-items: center;
        }
        .page-box-text__item-list{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .page-box-text__num span{
                display: block;
                color: white;
                font-size: 16px;
                font-weight: bold;
                margin-right: 30px;
                padding: 7px 15px;
                border-radius: 100%;
                background-color: @blue;
            }
            h5 {
                margin-top: 0px;
            }
        }
        h5 { 
            font-family: 'Exo 2' !important;
            font-weight: bold;
            color: @darkGray;
            margin-top: 15px;
        }
    }
}

.page {
    margin: 75px auto;
}

// FORM

.form {
    &-control{
        margin-bottom: 10px;
    }
    &-check{
        display: flex;
        align-items: center;
        label {
            margin: 0 10px 0 5px;
        }
        &-input{
            margin: 0;
            top:50%;
            left: -2px;
            transform: translate(0,-40%);
        }
    }
    &__actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px; 
        &--center {
            justify-content: center;
        }
    }
}

#footer{
    .form-control {
        margin-bottom: 0;
    }
}

// Buttons

.btn-primary {
    background-color: @blue;
    border-color: @blue;
    &:hover{
        background-color: @blueHover;
        border-color: @blueHover;
    }
}
.btn-danger {
    background-color: @red;
    border-color: @red;
}

// GENERAL CLASSES

.row--inverted {
    flex-direction: row-reverse;
    text-align: right;
}

.align-center{
    display: flex;
    align-items: center;
}

.list-alt{
    margin-top: 50px;
    .list-alt__item{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .list-alt__number{
            display: inline-block;
            width: 30px;
            position: relative;
            padding-right: 15px;
            margin-right: 15px;
            font-size: 15px;
            font-weight: bold;
            color: @blue;
            &:after{
                content: '';
                position: absolute;
                width: 2px;
                top: 0;
                bottom: 0;
                right: 0;
                margin: 0 auto;
                background-color: @blue;
            }
        }
        .list-alt__text {
            font-size: 15px;
            text-align: right;
        }
    }
}

.separator{
    position: relative;
    margin: 15px auto;
    height: 3px;
    .separator__bar{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50px;
        background-color: @red;
    }
}

.search-results{
    margin-bottom: 50px;
}

// Components
.side-content{
	.side-content__item{
		margin-bottom: 35px;
		.side-content__text{
			text-align: center;
			p { font-size: 14px; }
			h4 { margin-bottom: 15px; }
			.btn { margin: 0 auto; }
		}
		.side-content__sponsor{
			display: block;
			width: 190px;
			margin: 25px auto;
			img { 
				width: 100%; 
			}
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

#timer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    .timer-value{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid @lightGray;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 0px;
        span {
            font-family: 'Orbitron';
            font-size: 18px;
            color: @blue;
            margin-bottom: 5px;
        }
        small{
            padding-top: 5px;
            border-top: 2px solid @red;
            color: @darkGray;
        }
    }
}