footer#footer{
    background-color: #383838;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 40px;
    .footer-content {
        &__title {
            display: block;
            font-weight: 500;
            margin-bottom: 30px;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
            a{
                font-size: 14px;
            }
        }
        &__logo {
            display: inline-block;
            width: 145px;
            margin-bottom: 35px;
        }    
        &__text {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            &--alt{
                margin-top: 70px;
                font-weight: 300;
            }
        }
        &__item {
            margin-bottom: 20px;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
            a {
                font-size: 12px;
            }
        }
        &--newsletter{
            .btn {
                margin-left: 10px;
            }
        }
    }

    .footer-bottom{
        margin-top: 190px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__phone {
            margin-right: 100px;
            font-weight: 700;
            display: inline-flex;
            align-items: center;
            .fa-phone {
                .fsize(16px);
                transform: rotate(90deg);
                margin-right: 10px;
            }
        }
        .fa-whatsapp, .fa-facebook-f {
            .fsize(24px);
        }
        .fa-whatsapp {
            margin-right: 15px;
        }
        span {
            font-size: 12px;
        }
    }
}