.header__logo {
    display: block;
    width: 160px;
    height: 60px;
    background-image: url("../images/logo-nkrs-2019.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header__social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__search {
    position: relative;
    &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto;
        width: 20px;
        height: 20px;
        font-size: 16px;
        text-align: center;
        border: none;
        background-color: transparent;
    }
}
.header__auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__trigger {
    display: none;
}
.navbar {
    background-color: #1C3873;
    padding: 0;
}

.navbar-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-item {
    padding: 5px 10px;
    border-bottom: 3px solid transparent;
    transition: all .3s linear;
    &:hover {
        border-bottom: 3px solid #FFF;
        transition: all .3s linear;
    }
    &.active {
        border-bottom: 3px solid #D40000;
        transition: all .3s linear;
    }
}

.nav-link {
    font-size: 15px;
    color: #FFF;
    &:hover {
        color: #FFF;
    }
}

.cart {
    position: relative;
    text-align: center;
    &__badge {
        position: absolute;
        top: -10px;
        right: -5px;
        background-color: @blue;
    }
}

@media(max-width: 991px){
    .header__logo {
        margin: 0 auto 15px;
    }
    .header__auth {
        text-align: center;
        justify-content: center;
    }
    .navbar__trigger {
        display: block;
        width: 100%;
        background-color: transparent;
        border: none;
        color: white;
        text-align: center;
        padding: 15px 10px;
        i {
            .fsize(28px);
        }
    }
    .navbar__collapse {
        padding: 0 30px 30px;
        height: auto;
        pointer-events: all;
        transition: all .2s linear;
        .nav-item {
            visibility: visible;
            opacity: 1;
            transition: all 0s linear;
        }
    }
    .collapse {
        padding: 0;
        height: 0px;
        pointer-events: none;
        transition: all .2s linear;
        .nav-item {
            visibility: hidden;
            opacity: 0;
            transition: all 0s linear;
        }
    }
}