.panel {
    padding: 80px 0;
    .list-group-item.active{
        background-color: @blue;
        border-color: @blue;
        &:hover {
            background-color: @blue;
            border-color: @blue;
        }
    }
    .list-group-item {
        &:hover {
            background-color: @smoke;
        }
    }
}