
//=====================================
//  IMPORTS
//=====================================
@import '../mixins/mixins.less';
@import '../mixins/lesshat.less';
@import '../mixins/variables.less';
@import '../mixins/font-face.less';

//=====================================
//  TAGS
//=====================================


//=====================================
//  CLASSES
//=====================================

.produtos {
    .page-banner {
        display: flex;
        align-items: center;
        height: ~'calc(100vh - 125px)';
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__content {
            h4,h5,h6,p{
                color: #73418d;
            }
        }
        &__form {
            margin-top: 65px;
            .form-group {
                margin-bottom: 25px;
                input[type="email"]{
                    width: 330px;
                    margin-right: 10px;
                }
                .form-check {
                    margin: 0 15px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    .form-check-label {
                        color: #73418d;
                        .fsize(12px);
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .faq-box {
        margin-top: 50px;
        &__item {
            display: block;
            border: 1px solid #ebebeb;
            border-radius: 20px;
            padding: 15px 25px;
            margin-bottom: 15px;
            cursor: pointer;
            &--show {
                border-color: #73418d;
                .faq-box__trigger{
                    span {
                        color: #73418d;
                    }
                    i {
                        color: #73418d;
                    }
                }
                .faq-box__body{
                    margin-top: 15px;
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                }
            }
            &:hover {
                border-color: #73418d;
                .faq-box__trigger{
                    span {
                        color: #73418d;
                    }
                    i {
                        color: #73418d;
                    }
                }
            }
        }
        &__trigger {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;
            cursor: pointer;
            span {
                color: #ebebeb;
                .fsize(14px);
                font-weight: 700;
            }
            i {
               color: #6d6d6d;
               .fsize(14px);
            }
            &:hover, &:focus{
                box-shadow: none;
                outline: none;
            }
        }
        &__body {
            height: 0;
            opacity: 0;
            visibility: hidden;
            p {
                color: #6d6d6d;
                .fsize(13px);
                font-weight: 500;
            }
        }
    }

    .testimony{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item {
            display: flex;
            flex: 0 0 47%;
            margin-bottom: 65px;
        }
        &__image {
            width: 120px;
            height: 120px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;
            margin-right: 30px;
        }
        &__content {
            flex: 4;
            h6 { 
                position: relative;
                font-weight: 900;
                padding-bottom: 15px;
                margin-bottom: 25px;
                &:after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #6d6d6d;
                }
            }
            p {
                .fsize(12px);
                font-weight: 300;
            }
            i {
                .fsize(12px);
                color: #6d6d6d;
            }
        }
    }
}

#varejo, #logistica {
    .page-banner {
        display: flex;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__content {
            h4,h5,h6,p{
                color: #73418d;
            }
        }
        &__form {
            margin-top: 65px;
            .form-group {
                margin-bottom: 25px;
                input[type="email"]{
                    width: 330px;
                    margin-right: 10px;
                }
                .form-check {
                    margin: 0 15px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    .form-check-label {
                        color: #73418d;
                        .fsize(12px);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

#gastronomia {
    .page-banner {
        &__content {
            h1,h4,h5,h6,p{
                color: #fff;
            }
        }
        &__form {
            .form-group {
                .form-check {
                    .radiomark {
                        border: 1px solid #fff;
                        &:after{
                            background-color: #fff;
                        }
                        z-index: 3;
                    }
                    .form-check-label {
                        color: #fff;
                        .fsize(12px);
                        font-weight: 500;
                    }
                }
            }
        }
        .mouse {
            border-color: #0cb1d4;
        }
        .mouse-in {
            background-color: #0cb1d4;
        }
        .down-arrow-1 {
            border-color: #0cb1d4;
        }
    }

    .faq-box {
        &__item {
            &--show {
                border-color: #0cb1d4;
                .faq-box__trigger{
                    span {
                        color: #0cb1d4;
                    }
                    i {
                        color: #0cb1d4;
                    }
                }
            }
            &:hover {
                border-color: #0cb1d4;
                .faq-box__trigger{
                    span {
                        color: #0cb1d4;
                    }
                    i {
                        color: #0cb1d4;
                    }
                }
            }
        }
    }

    .nav-tabs{
        .nav-item {
            .active {
                border-bottom: 3px solid #0cb1d4;
                &:hover {
                    border-bottom: 3px solid #0cb1d4;
                } 
            }
        }
        &__title {
            &--solutions {
                color: #0cb1d4;
                border: 1px solid #0cb1d4;
            }
        }
    }

    .section__title {
		span {
			color: #0cb1d4;
		}
	}
	.section__subtitle {
		span {
			color: #0cb1d4;
		}
	}
	.section__intro {
		span {
			color: #0cb1d4;
		}
    }
    
    .btn-primary {
        border-color: #0cb1d4;
        background-color: #0cb1d4;
        &:hover, &:focus {
            border-color: #0a8ca9 !important;
            background-color: #0a8ca9 !important;
        }
    }
}

#franchising {
    .page-banner {
        &__content {
            h1,h4,h5,h6,p{
                color: #fff;
            }
        }
        &__form {
            .form-group {
                .form-check {
                    .radiomark {
                        border: 1px solid #fff;
                        &:after{
                            background-color: #fff;
                        }
                        z-index: 3;
                    }
                    .form-check-label {
                        color: #fff;
                        .fsize(12px);
                        font-weight: 500;
                    }
                }
            }
        }
    }

    #navMobile{
        display: none;
    }

    .faq-box {
        &__item {
            &--show {
                border-color: #09bab2;
                .faq-box__trigger{
                    span {
                        color: #09bab2;
                    }
                    i {
                        color: #09bab2;
                    }
                }
            }
            &:hover {
                border-color: #09bab2;
                .faq-box__trigger{
                    span {
                        color: #09bab2;
                    }
                    i {
                        color: #09bab2;
                    }
                }
            }
        }
    }

    .nav-tabs{
        .nav-item {
            .active {
                border-bottom: 3px solid #09bab2;
                &:hover {
                    border-bottom: 3px solid #09bab2;
                } 
            }
        }
        &__title {
            &--solutions {
                color: #09bab2;
                border: 1px solid #09bab2;
            }
        }
    }

    .section__title {
		span {
			color: #09bab2;
		}
	}
	.section__subtitle {
		span {
			color: #09bab2;
		}
	}
	.section__intro {
		span {
			color: #09bab2;
		}
    }
    
    .btn-primary {
        border-color: #09bab2;
        background-color: #09bab2;
        &:hover, &:focus {
            border-color: #07928b !important;
            background-color: #07928b !important;
        }
    }
}

#logistica {
    .page-banner {
        &__content {
            h1,h4,h5,h6,p{
                color: #fff;
            }
        }
        &__form {
            .form-group {
                .form-check {
                    .radiomark {
                        border: 1px solid #fff;
                        &:after{
                            background-color: #fff;
                        }
                        z-index: 3;
                    }
                    .form-check-label {
                        color: #fff;
                        .fsize(12px);
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .section__intro {
        max-width: 680px;
    }
}

#beleza {
    .page-banner {
        &__content {
            h1,h4,h5,h6,p{
                color: #fff;
            }
        }
        &__form {
            .form-group {
                .form-check {
                    .radiomark {
                        border: 1px solid #fff;
                        &:after{
                            background-color: #fff;
                        }
                        z-index: 3;
                    }
                    .form-check-label {
                        color: #fff;
                        .fsize(12px);
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .faq-box {
        &__item {
            &--show {
                border-color: #bb67e5;
                .faq-box__trigger{
                    span {
                        color: #bb67e5;
                    }
                    i {
                        color: #bb67e5;
                    }
                }
            }
            &:hover {
                border-color: #bb67e5;
                .faq-box__trigger{
                    span {
                        color: #bb67e5;
                    }
                    i {
                        color: #bb67e5;
                    }
                }
            }
        }
    }

    .nav-tabs{
        .nav-item {
            .active {
                border-bottom: 3px solid #bb67e5;
                &:hover {
                    border-bottom: 3px solid #bb67e5;
                } 
            }
        }
        &__title {
            &--solutions {
                color: #bb67e5;
                border: 1px solid #bb67e5;
            }
        }
    }

    .section__title {
		span {
			color: #bb67e5;
		}
	}
	.section__subtitle {
		span {
			color: #bb67e5;
		}
	}
	.section__intro {
        max-width: 680px;
		span {
			color: #bb67e5;
		}
    }
    
    .btn-primary {
        border-color: #bb67e5;
        background-color: #bb67e5;
        &:hover, &:focus {
            border-color: #a73bde !important;
            background-color: #a73bde !important;
        }
    }
}

@media(max-width: 767px){
    .produtos {
        .page-banner {
            height: ~'calc(100vh - 97px)';
            &__content {
                h4,h5,h6,p{
                    color: #73418d;
                }
            }
            &__form {
                margin-top: 65px;
                .form-group {
                    margin-bottom: 25px;
                    input[type="email"]{
                        width: 330px;
                        margin-right: 10px;
                    }
                    .form-check {
                        margin: 0 15px;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        .form-check-label {
                            color: #73418d;
                            .fsize(12px);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    
        .testimony{
            &__item {
                flex: 0 0 100%;
                flex-direction: column;
                align-items: center;
            }
            &__image {
                width: 120px;
                height: 120px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 100%;
                margin-right: 0;
            }
            &__content {
                flex: 4;
                text-align: center;
                h6 { 
                    margin-top: 15px;
                    &:after {
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
                p {
                    .fsize(12px);
                    font-weight: 300;
                }
                i {
                    .fsize(12px);
                    color: #6d6d6d;
                }
            }
        }
    }
    #franchising {
        .tab-content {
            .row {
                flex-direction: column-reverse;
            }
        }
    }
}