.signed {
    padding: 0px;
    &__item {
        display: flex;
        align-items: center;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &__info {
            color: white;
            background-color: rgba(28,56,115,0.3);
            padding: 35px 40px;
            .section-title, h4 {
                color: white;
            }
            p {
                .fsize(18px);
            }
        }
        &--right {
            justify-content: flex-end;
            text-align: right;
            .signed__item__info {
                margin-left: auto;
            }
            .section-title {
                text-align: right;
                padding-right: 15px;
                &:before {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

@media(max-width: 767px){
    .signed {
        text-align: center !important;
        &__item {
            &__info {
                background-color: rgba(28,56,115,0.7);
            }
            &--right {
                justify-content: center;
                text-align: center;
                .signed__item__info {
                    margin-left: auto;
                }
                .section-title {
                    text-align: center;
                    padding-left: 15px;
                    padding-right: 0;
                    &:before {
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }
}