
///////////////////////////////////
////////// FONT-FACE //////////////
///////////////////////////////////


// @font-face {
//     @font-name : 'frutigerlight';
//     font-family: @font-name;
//     src: url('@{fonts}@{font-name}/@{font-name}.woff2') format('woff2'),
//          url('@{fonts}@{font-name}/@{font-name}.woff') format('woff'),
//          url('@{fonts}@{font-name}/@{font-name}.eot') format('eot'),
//          url('@{fonts}@{font-name}/@{font-name}.svg') format('svg');
// }

[class*='icon-weecom-']:before{
  display: inline-block;
  font-family: 'weecom';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
}
.icon-weecom-logo:before{content:'\0041';}
.icon-weecom-lettering:before{content:'\0042';}
.icon-weecom-logo-lettering:before{content:'\0043';}