

//Controla cores
@default-color: #555555;
@default-bgcolor: #999999;
@primary-bgcolor: #5BC0DE;
@success-bgcolor: #5CB85C;
@info-bgcolor: #9BC0DE;
@warning-bgcolor: #F0AD4E;
@danger-bgcolor: #B94A48;

@color-red: #d7303c;
@color-gray: #4f4e4e;
@color-yellow: #fed832;
@color-green: #bdd730;

@default-blue:#3c8ba5;
@default-green:#92c252;


@blue: #1C3873;
@blueHover: #274fa5;
@red: #D40000;
@darkGray: #333;
@lightGray: #999;
@smoke: #f1f1f1;


@fonts: "../fonts/";
@img: "../images/";

